# Biafra Ahanonu

# ignore the private folder where user information is stored
/private/
data/
signal_extraction/cnmf_current
signal_extraction/cnmfe
signal_extraction/cvx_rd
_external_programs/*/
_external_programs/cnmf_current
_external_programs/cnmfe
_external_programs/cvx_rd
_external_programs/matnwb
_external_programs/nwb_schnitzer_lab
_external_programs/yamlmatlab
_external_programs/normcorre

# Signal extraction dependency zips
_external_programs/*.zip
_external_programs/*.dmg
signal_extraction/*.zip
*.mat
*.h5
desktop.ini

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
# *.mex*

# Packaged app and toolbox files
# *.mlappinstall
# *.mltbx

# Generated helpsearch folders
# helpsearch*/

# Simulink code generation folders
# slprj/
# sccprj/

# Matlab code generation folders
# codegen/

# Simulink autosave extension
# *.autosave

# Octave session info
# octave-workspace