site_name: CIAtah
site_author: Biafra Ahanonu
# For online, to end in /data instead of /data.html
use_directory_urls: true
theme:
  name: readthedocs
  nav_style: dark
  # highlightjs: true
  highlightjs: false
  # hljs_style: github
  # hljs_languages:
  #     - matlab
  #     - python
  # navigation_depth: 3
  shortcuts:
      help: 191    # ?
      next: 78     # n
      previous: 80 # p
      search: 83   # s
  features:
      - navigation.sections
      - navigation.expand
plugins:
  - macros
  # - search
  # - markdownextradata: {}
markdown_extensions:
  - toc:
      permalink: true
  # - codehilite
  - pymdownx.magiclink
  - mdx_truly_sane_lists
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: docs
  - markdown_include.include:
      base_path: docs
      # headingOffset: 0
      headingOffset: 1
      # inheritHeadingDepth: True
      # inheritHeadingDepth: False
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx-inline
      use_pygments: true
      css_class: 'codehilite'
      guess_lang: false
    # - markdown.extensions.toc:
    #       slugify: !!python/name:pymdownx.slugs.uslugify
    #       permalink: "\ue157"
#     - codehilite
extra_javascript:
  # - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js
  # - javascripts/config.js
extra_css:
  # - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css
    - css/extra.css
    - css/pygments.css

# VARIABLES TO USE THROUGHOUT THE WEBSITE
extra:
  site:
    name: CIAtah
    namelow: ciatah
    nameold: calciumImagingAnalysis
  code:
    mainclass: ciatah
    package: ciapkg

# NAVIGATION
nav:
  - Home: index.md
  - End-to-end:
    # - One-page readme: alldocs.md
    - One-page readme: all_docs.md
  - Setup:
    - Quick Start: install.md
    - Install: install_alt.md
    - Example data: example_data.md
    - Dependencies: dependencies.md
  - Repository:
    - Data formats: data.md
    - Notes: notes.md
    - Organization: organization.md
  - Processing imaging data:
    - Overview: pipeline_overview.md
    # - Step-by-step: pipeline_detailed.md
    - One-page step-by-step: pipeline_detailed_all.md
    - 1| Downsample raw movies: pipeline_detailed_downsample_raw.md
    - 2| Check pre-process settings: pipeline_detailed_preprocess_check.md
    - 3| <u><strong>Processing imaging movies</strong></u>: pipeline_detailed_preprocess.md
    - 4| Movie clean-up: pipeline_detailed_modify_movies.md
    - 5| <u><strong>Cell extraction</strong></u>: pipeline_detailed_signal_extraction.md
    - 6| Loading cell extraction outputs: pipeline_detailed_signal_extraction_load.md
    - 7| <u><strong>Cell extraction validation</strong></u>: pipeline_detailed_signal_extraction_validation.md
    - 8| <u><strong>Manual cell sorting</strong></u>: pipeline_detailed_signal_sorting_manual.md
    - 9| Region-specific analysis: pipeline_detailed_signal_region_analysis.md
    - 10| <u><strong>Cross-session alignment</strong></u>: pipeline_detailed_cross_session.md
  - Animal tracking:
    - Animal tracking (ImageJ+MATLAB): pipeline_animal_tracking.md
  - API:
    - Custom pipelines: api_example_pipeline.md
    - ciapkg: api_ciapkg.md
  - Help:
    - Issues and fixes: help_issues.md
    - <div class='subsection1'>Data</div>: blank.md
    - Inscopix: help_inscopix.md
    - Neurodata Without Borders: help_nwb.md

    - <div class='subsection1'>Interface</div>: blank.md
    - Movie display and noise: help_contrast.md

    - <div class='subsection1'>Analysis</div>: blank.md
    - Analysis methods: help_analysis_methods.md
    - Large movie analysis: help_large_movie_analysis.md
    - Stripe removal: help_stripe_removal.md
    - Improving signal-to-noise: help_snr.md
    - Spatial filtering: help_spatial_filtering.md
    - Temporal downsampling: help_temporal_downsampling.md
    - Motion correction: help_motion_correction.md
    - Cell extraction: help_cell_extraction.md
    - Manual cell sorting: help_manual_cell_sorting.md
    - Cross-session alignemnt: help_cross_session_alignment.md
    - Animal tracking: help_animal_tracking.md
  - Misc:
    - Acknowledgments: acknowledgments.md
    - Cite: references.md
    - Questions: questions.md
    - License: license.md